<h1 class="display-3">Formação Atual</h1>
<hr>
<div class="int-wrapper ">
  <div class="card border-danger mb-3" style="width: 17rem;">
    <img src="assets/img/fabio.jpg" class="card-img card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fabio Lione</h5>
      <p class="card-text">Fabio Tordiglione é um vocalista italiano que já participou de bandas como Labyrinth, Athena, Vision Divine e Rhapsody of Fire e é o atual vocalista do Angra e do Eternal Idol. Fábio Lione também cantou na banda norte americana Kamelot temporariamente após saída do vocalista Roy Khan.</p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="width: 20rem;">
    <img src="assets/img/rafael.jpg" class="card-img card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rafael Bittencourt</h5>
      <p class="card-text">Marcelo Silva Barbosa é um violonista e professor de música brasileiro. Ele é fundador ou membro de outras bandas brasileiras como a banda de metal progressivo Khallice e a banda Almah do ex-vocalista do Angra Edu Falaschi.</p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="width: 19rem;">
    <img src="assets/img/marcelo.jpg" class="card-img card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Marcelo Barbosa</h5>
      <p class="card-text">Marcelo Silva Barbosa é um violonista e professor de música brasileiro. Ele é fund
        ador ou membro de outras bandas brasileiras como a banda de metal progressivo Khallice e a banda Alm
        ah do ex-vocalista do Angra Edu Falaschi</p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="width: 16rem;">
    <img src="assets/img/andreoli.jpg" class="card-img card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Felipe Andreoli</h5>
      <p class="card-text">Felipe Andreoli é um músico brasileiro mais conhecido como baixista da banda de heavy metal Angra.</p>
    </div>
  </div>
  <div class="card border-danger  mb-3" style="width: 19rem;">
    <img src="assets/img/valverde.jpg" class="card-img card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bruno Valverde</h5>
      <p class="card-text">Bruno Valverde iniciou seus estudos aos 9 anos de idade, e hoje é baterista da renomada Banda Angra. Gravou o mais recente álbum da banda, o "Secret Garden" na Suécia produzido pelo grande Jens Bogren.</p>
    </div>

  </div>
</div>

