<div class="card mb-3 img-wrapper">
  <img src="assets/img/AngraLogo.jpg" class="img-angra card-img-top" style="height: 25em;" alt="...">
</div>
<section>
  <div class="card-body">
    <h5 class="card-title display-4" style="color: red;">Angra</h5>
    <p class="card-text" style="color: purple;">Angra é uma banda brasileira de power metal, formada na cidade de São Paulo em 1991, pelo vocalista, tecladista e multi-instrumentista Andre Matos e os guitarristas Rafael Bittencourt e André Linhares, após se conhecerem na Faculdade Santa Marcelina, onde cursavam composição e regência. Andre Matos havia feito parte do Viper (entre 1985 e 1990) e Rafael Bittencourt fazia parte da banda Spitfire. Após a formação inicial da banda, entraram os músicos Luis Mariutti (baixo) e Marco Antunes (bateria), e André Linhares cedeu lugar a André Hernandes, e posteriormente a Kiko Loureiro. O guitarrista Rafael Bittencourt foi o único integrante a tocar em todos os álbuns da banda.</p>
    <p class="card-title display-4" style="color: aquamarine;">Melhores Albuns:</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 carrousel-img" src="assets/img/Rebirth-Angra.webp" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 carrousel-img" src="assets/Angels-Cry.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 carrousel-img" src="assets/Holy-Land.png" alt="Terceiro Slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>

  </div>
